<footer>
<p>
  E' un progetto nato dalla fantasia di <a href="http://stanzionfree.net">Alessandro </a> per raccogliere pensieri e appunti durante il lavoro.<br/>
  Questa pagina è stata generata il {{ site.buildTime | dateDisplay('LLL d, yyyy - HH:mm') }}
</p>
</footer>
