<header>
  <div class='banner'><a href="/"><img src="https://stanzinoblog.com/images/logo.png" alt="Stanzinoblog"></a></div>
  <h1>{{ title }}</h1>
  {%- if subtitle %}<p class="subtitle">{{ subtitle | safe }}</p>{% endif %}
</header>
