<header>
  <ul class="nav">
    <li>
      <a href="/">home<small>where the heart is</small></a>
    </li>
    <li>
      <a href="/about">about<small>all about this</small></a>
    </li>
  </ul>
  <div class='banner'><img src="https://stanzinoblog.com/images/logo.png" alt="Stanzinoblog"></div>
  <h1>{{ title }}</h1>
  {%- if subtitle %}<p class="subtitle">{{ subtitle | safe }}</p>{% endif %}
</header>
